@import "tailwindcss";
/* for use Dark mode step next in tag Html in index-file add class=dark */
@custom-variant dark (&:where(.dark, .dark *));


@layer base {
    @font-face {
        font-family: "Dana";
        src:local ("Dana") ,  url("/public/fonts/Dana/woff2/DanaFaNum-Regular.woff2")  format("woff2");
    }
        @font-face {
        font-family: "Dana Medium";
        src:local ("Dana Medium") ,  url("/public/fonts/Dana/woff2/DanaFaNum-Medium.woff2")  format("woff2");
    }
        @font-face {
        font-family: "Dana Bold";
        src:local ("Dana Bold") ,   url("/public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    }
     @font-face {
        font-family: "Dana DemoBold";
        src:local ("Dana DemoBold") ,   url("/public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    }
        @font-face {
        font-family: "Morabba";
        src:local ("Morabba Light") ,  url("/public/fonts/Morabba/woff2/Morabba-Light.woff2")  format("woff2");
    }
        @font-face {
        font-family: "Morabba Medium";
        src:local ("Morabba Medium") ,  url("/public/fonts/Morabba/woff2/Morabba-Medium.woff2")  format("woff2");
    }
        @font-face {
        font-family: "Morabba Bold";
        src:local ("Morabba Bold") ,  url("/public/fonts/Morabba/woff2/Morabba-Bold.woff2")  format("woff2");
    }
}


@theme {
    --color-brown-100 :#ECE0D1;
    --color-brown-300 :#DBC1AC;
    --color-brown-600 :#967259;
    --color-brown-900 :#634832;


    --shadow-noraml : 0px 1px 10px rgba(0,0,0,0.05);

    --radius-4xl : 2rem;

    --font-Dane : "Dana";
    --font-DanaMedium : "Dana Medium";
    --font-DanaDemiBold : "Dana DemoBold";
    --font-Morabba : "Morabba Light";
    --font-MorabbaMedium : "Morabba Medium";
    --font-MorabbaBold : "Marabba Bold";

    --tracking-tightest : -0.065em;
    --breakpoint-xs: 480px;
    --spacing-30 : 120px;


    --tracking-tightest: -0.065em; 
    
}

@utility container {
    @apply mx-auto px-4;
        max-width: 1280px;
}

@layer utilities {
    .bg-home-mobile{
        background-image : url('/public/images/headerBgMobile.webp')
    }
}


body{
    background-image: url("/public/images/headerBgDesktop.webp");
    background-repeat: no-repeat;
};